<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}}</title>

    <script src="public/js/jquery-3.3.1.min.js"></script>
    <script src="public/js/jquery-ui.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
    <link rel="stylesheet" href="public/css/simple-line-icons.css">
    <link rel="stylesheet" href="public/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/css/jquery-ui.min.css">
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="public/css/map.css">
    <link rel="stylesheet" href="public/css/madolBlock.css">
    <script src="public/js/main.js" ></script>
    <script src="public/js/form.js" ></script>
</head>

<body>
<header class="header">
    <nav>
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-lg-6">
                    <img src="public/images/logo.png" alt="Лого" class="logo">
                </div>
                <div class="col-md-7 col-lg-6" >
                    <ul>
                        <li><a href="/" class="string-after">Главная</a></li>
                        <li><a href="/places" class="string-after">Места</a></li>
                        <li><a href="" class="string-after">Статьи</a></li>
                        <li><a href="#" class="enter">Войти</a></li>
                        <li><a href="" class="string-after">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
    <div class="popup_block_enter">
        <form action="">
            <div class="enter_data">
                <div><label for="email">Адресс элеткронной почты</label><input type="text" id="email" name="email"></div>
                <div><label for="password">Пароль</label><input type="text" id="password" name="password" ></div>
                <input type="submit" value="Войти">
                <a href="registration">Регистрация</a>
            </div>
            <div>
                <a>Забыли пароль?</a>
                <p>После регистрации вам будет доступна услуга
                    помощи в организации туристического визита в страну
                </p>
            </div>
        </form>
    </div>
<main class="promo">
    <div class="promo_header"> <!--https://www.youtube.com/watch?time_continue=20&v=fEuw4Hl04hU-->
        <h1>So much to discover </h1>
        <p>Look no further.You came to the tight..place</p>
        <div class="promo_button">
            <a href="">
                <span class="icon-control-play"></span>
                Watch intro video
            </a>
        </div>
    </div>
    <div class="clear"></div>
</main>
    <div class="popup_block_video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/fEuw4Hl04hU?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
<div class="places">
    <h2>Популярные места для путешествий</h2>
    <p>Lorem ipsum Lorem ipsumLorem ipsumLorem ipsum
        Lorem ipsum Lorem ipsumLorem ipsum</p>
    <div class="imagePLaces"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="pict">
                    <img src="public/images/djetiogyz.jpg" alt="djetiogyz" class="center_photo">
                    <h3>Ущелье Джеты Огуз</h3>
                    <p>Ущелье Джеты-Огуз (в переводе с киргизского — «семь быков») расположено в пойме одноименной реки
                        на северном склоне хребта Терскей Ала-Тоо...
                      </p>
                    <a href="#?w=500" rel="popup_nameOne" class="poplight" >Узнать больше</a>
                </div>

            </div>
            <div class="col-md-4">
                <div class="pict">
                    <img src="public/images/alaarcha.jpg" alt="" class="center_photo">
                    <h3>Ущелье Ала Арча</h3>
                    <p>Природный парк в долине реки. Находится недалеко от Бишкека и является его главной
                        достопримечательностью. </p>
                    <a href="#?w=500" rel="popup_nameTwo" class="poplight">Узнать больше</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pict">
                    <img src="public/images/sary-chelek.jpg" alt="">
                    <h3>Озеро Сары-Челек</h3>
                    <p>Глубокое и протяженное пресное озеро, второе по величине в Киргизии.</p>
                    <a href="#?w=500" rel="popup_nameThree" class="poplight">Узнать больше</a>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="pict">
                    <img src="public/images/IK.jpg" alt="">
                    <h3>Иссык-Куль</h3>
                    <p>Из-за бескрайних размеров Иссык-Куль часто называют «горным морем».
                        Озеро входит в число самых прозрачных в мире.
                    </p>
                    <a href="#?w=500" rel="popup_nameFour" class="poplight">Узнать больше</a>
                </div>

            </div>
            <div class="col-md-4">
                <div class="pict">
                    <img src="/public/images/02.jpg" alt="" class="center_photo">
                    <h3>Workspace</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing
                        elit sed tempor incdidunt ut laboret dolor magna
                        ut consequat siad esqudiat dolor</p>
                    <a href="">Read more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pict">
                    <img src="public/images/03.jpg" alt="">
                    <h3>Workspace</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing
                        elit sed tempor incdidunt ut laboret dolor magna
                        ut consequat siad esqudiat dolor</p>
                    <a href="">Read more</a>
                </div>

            </div>
        </div>
    </div>
</div>
<!--блок с отзывами-->

    <div class="overlay">
        <div id="popup_nameOne" class="popup_block">
            <div class="firstOne">
                <div>
                    <h4>Ущелье Джеты Огуз</h4>
                    <em>Where is situatied</em>
                    <p>Ущелье Джеты-Огуз (в переводе с киргизского — «семь быков») расположено в пойме одноименной реки
                        на северном склоне хребта Терскей Ала-Тоо, с юга огибающего озеро Иссык-Куль, в 25 км юго-западнее Каракола.
                        Протяженность ущелья — 37 км. Оно покрыто пышной растительностью и получило такое необычное название
                        от монументальной гряды красных скал «Семь Быков». Эти скалы настолько великолепны, что они изображажены
                        на советских почтовых марках выпущенных в 1968 году. В ущелье на высоте 2200 м вблизи гряды расположен
                        курорт Джеты-Огуз, известный своими лечебными геотермальными источниками. Ещё одной примечательной скалой
                        является знаменитое Разбитое Сердце, место настоящего паломничества влюбленных.

                    </p>
                </div>
                <div>
                    <p>Photo author</p>
                    <p>Season</p>
                </div>

            </div>
        </div>
    </div>
    <div id="popup_nameTwo" class="popup_block">
        <div class="firstOne">
            <div>
                <h4>Ущелье Джеты Огуз</h4>
                <em>Where is situatied</em>
                <p>Природный парк в долине реки. Находится недалеко от Бишкека и является его главной достопримечательностью.
                    В ущелье можно найти все климатические зоны Киргизии.
                    Растительность и фауна очень разнообразны, множество редких представителей.
                    Популярное место для пеших прогулок и альпинизма.

                </p>
            </div>
            <div>
                <p>Photo author</p>
                <p>Season</p>
            </div>

            </div>
        </div>
    </div>
    <div id="popup_nameThree" class="popup_block">
        <div class="firstOne">
            <div>
                <h4>Озеро Сары-Челек</h4>
                <em>Where is situatied</em>
                <!--по клику открывать карту с расположением-->
                <p>Глубокое и протяженное пресное озеро, второе по величине в Киргизии. Расположено высоко в горах,
                    на территории биосферного заповедника. Образовалось около 10 тысяч лет назад. Берега лесистые,
                    очень живописные. Популярный маршрут для экологического туризма.

                </p>
            </div>
            <div>
                <p>Photo author</p>
                <p>Season</p>
            </div>

        </div>
    </div>
    <div id="popup_nameFour" class="popup_block">
        <div class="firstOne">
            <div>
                <h4>Иссык-Куль</h4>
                <em>Иссык-Куль</em>
                <p>Из-за бескрайних размеров Иссык-Куль часто называют «горным морем».
                    Озеро входит в число самых прозрачных в мире. Вода в нем действительно кристально чистая,
                    такая, что видно дно, и такой же чистый горный воздух вокруг. Озеро находится на высоте 1609 м
                    над уровнем моря, поэтому здесь никогда не бывает слишком жарко и душно. Наиболее развит в
                    туристическом плане северный берег Иссык-Куля. Романтики и любители первозданной природы ищут
                    уединенности на южном берегу.
                </p>
            </div>
            <div>
                <p>Photo author</p>
                <p>Season</p>
            </div>

        </div>
    </div>

</div>

</main>
<aside class="ContactUs">
    <div class="inner">
        <strong><a href="visit">Do you want to visit our country</a></strong>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elim incidunt
            laudantium laudantium  laudantium laudantium laudantiumlaudantium nobis quia quidem
        </p>

    </div>
</aside>
<div id="map" class="map1"></div>
<footer></footer>
<script>
    function initMap() {
        let uluru = {lat: 41.204380, lng: 74.766098};
        let map = new google.maps.Map(document.getElementById('map'), {
            zoom: 6,
            center: uluru
        });
        let marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOhixNFGM8-BOX6ziPOAcjG6OMvqel5W8&callback=initMap">
</script>
</body>
</html>
<!--AIzaSyCOhixNFGM8-BOX6ziPOAcjG6OMvqel5W8-->