<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}}</title>

    <script src="public/js/jquery-3.3.1.min.js"></script>
    <script src="public/js/jquery-ui.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
    <link rel="stylesheet" href="public/css/simple-line-icons.css">
    <link rel="stylesheet" href="public/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/css/jquery-ui.min.css">
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="public/css/map.css">
    <link rel="stylesheet" href="public/css/madolBlock.css">
    <script src="public/js/main.js" ></script>
    <script src="public/js/form.js" ></script>
</head>

<body>
<header class="header">
    <nav>
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-lg-6">
                    <img src="public/images/logo.png" alt="Лого" class="logo">
                </div>
                <div class="col-md-7 col-lg-6" >
                    <ul>
                        <li><a href="/" class="string-after">Главная</a></li>
                        <li><a href="/places" class="string-after">Места</a></li>
                        <li><a href="" class="string-after">Статьи</a></li>
                        <li><a href="#" class="enter">Войти</a></li>
                        <li><a href="" class="string-after">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

</body>
</html>